[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "cartogram"]
	path = cartogram
	url = https://github.com/sjewo/cartogram
[submodule "readstata13"]
	path = readstata13
	url = https://github.com/sjewo/readstata13
